dump.rdb

__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/
env/
venv/
.int_proc/
.mypy_cache/
.dmypy.json
.pyre/
*.sqlite3

.env
.env.*.local
*.secret
*.key

.vscode/
.idea/
.DS_Store
Thumbs.db

postgres_data/
uploads/
*.log

celerybeat-schedule
*.pid
